# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

#### *Objectives:*

* List popular languages for Data Science
* Create a markdown cell with an h1 style heading
* Create an ordered list in a markdown cell
* Create a table in a markdown cell
* Evaluate a simple arithmetic expression in a code cell

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas
4. Scikit-Learn

|Data Science Tools|
|----|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Ton